@import "buttons.styl"

page-body
  display: flex
  flex-direction: column

a
  color: var(--color-blue-light)

code
  font-family: consolas, monospace
  background-color: var(--color-grey-dark)
  padding: 0 4px

#banner
  position: relative
  overflow: clip
  box-shadow: var(--box-shadow)

.container
  width: @css { min(var(--content-width), 100vw) }
  margin: 0 auto

#banner-content
  position: absolute
  z-index: 1

#banner-image
  background-image: url("/assets/images/logo/wynem_banner.webp")
  background-position: 50% 50%
  background-size: cover
  height: 256px
  filter: blur(4px)
  
#title
  font-size: 2.75rem
  font-weight: 700
  margin: 30px 0 30px 60px
  position: relative
  text-shadow: -5px 5px 1px var(--color-text-shadow)
  
  &::before
    content: ""
    background-color: var(--color-blue)
    position: absolute
    top: 0
    bottom: 0
    left: -30px
    width: 10px
    border-radius: 5px

#subtitle
  margin: -20px 0 0 60px
  text-shadow: -3px 3px 1px var(--color-text-shadow)

#feature-content
  display: flex

#content
  flex: 1
  padding: 20px 0 20px 20px
  display: flex
  gap: 40px
  flex-direction: column

#sidebar
  margin: 20px 20px 20px
  display: flex
  flex-direction: column

  &.tabless
    margin: 20px
    border-radius: 10px
    
#commands
  padding: 20px
  border-radius: 10px
  display: flex
  flex-direction: column
  gap: 16px
  align-items: center
  width: 300px
  background-color: var(--color-grey-light)
  z-index: 1
  position: relative
  flex: 1
  
#commands-title
  font-size: 1.75rem
  font-weight: 700
  text-align: center

#command-tabs
  margin-top: 0
  
  .tab
    flex: 1

.tab
  flex: 1
  background-color: var(--color-grey-dark)
  transition: .15s filter
  min-height: 18px
  padding: 10px 20px
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  user-select: none
  cursor: pointer
  border-radius: 10px 10px 0 0
  transform: translateY(5px)
  font-weight: 700
  background: linear-gradient(to top, var(--color-grey-darker), var(--color-grey-dark), var(--color-grey-dark))
  flex: initial
  border-bottom: 10px solid var(--color-grey-dark)
  margin-bottom: -10px
  overflow-wrap: anywhere
  
  &.active
    border-bottom: 10px solid var(--color-grey-light)
    background: var(--color-grey-light)
    transform: translateY(0)
    filter: brightness(1)!important
    transition: 0s filter
  
  &:hover
    filter: brightness(1.25)
  
#command-lists
  width: 100%

.command-list
  overflow: hidden
  display: none
  flex-direction: column
  gap: 16px

  a
    height: 20px
    
    &:not(:last-child)
      margin-bottom: 10px
    
  p
    margin: 0
    
  h3
    margin: 10px 0 0 15px
    position: relative
    text-shadow: -2px 2px 1px var(--color-text-shadow)
    width
    
    &::before
      content: ""
      background-color: var(--color-blue)
      position: absolute
      top: 0
      bottom: 0
      left: -15px
      width: 5px
      border-radius: 5px
      
    + div
      margin-left: 20px

.section
  display: flex
  flex-direction: column
  gap: 20px
  max-width: 100%
  
  img
    object-fit: contain
    object-position: left

.heading
  font-size: 2rem
  font-weight: 700
  text-shadow: -3px 3px 1px var(--color-text-shadow)

.text
  white-space: pre-wrap
  line-height: 24px
  
.tablelist
  td
    white-space: pre-wrap

  td:not(:last-child)
    padding-right: 16px
  
  td:first-child
    font-weight: 600
    white-space: nowrap!important
    display: list-item
    list-style: inside
  
.tabs
  display: flex
  width: 100%
  
.sections
  border-radius: 10px
  background-color: var(--color-grey-light)
  box-shadow: var(--box-shadow)
  padding: 20px
  flex: 1
  z-index: 1
  position: relative
  
.tab-section
  display: none
  
.selected
  display: flex
  
.tab-container.light
  .tab
    background: linear-gradient(to top, var(--color-grey-dark), var(--color-grey), var(--color-grey))
    border-bottom: 10px solid var(--color-grey)

  .active
    background: #323235
    border-bottom: 10px solid #323235
  
  .tab-sections
    background-color: #323235
    
@media only screen and (max-width: 768px)
  #feature-content
    flex-direction: column
    
  #content
    padding: 20px
    
  #commands
    width: initial