style: include:styl index.styl
#banner
  .container
    #banner-content
      #title
      #subtitle
  #banner-image
#feature-content.container
  #content
    #description
  #sidebar
    #commands-title Related Commands
    #command-tabs
    #command-lists