style: include:styl index.styl
include /../includes/embeds.pug
template#link-icon: include /assets/images/svg/open_internal.svg
template#close-icon: include /assets/images/svg/close.svg
#banner
  .container
    #banner-content
      #title
      #subtitle
  #banner-image
#feature-content.container
  #content
    #description
    #guides
      .heading
      #guide-tabs
      #guide-content
  #sidebar
    #command-tabs
    #commands-title Related Commands
    #command-lists