style: include:styl index.styl
template#download-icon: include /assets/images/svg/download.svg
template#link-icon: include /assets/images/svg/open_external.svg
.container
  #cem-header
    h1 OptiFine Custom Entity Models
    #search(onclick = "this.children[1].focus()")
      include /assets/images/svg/search.svg
      input(placeholder = "Search...")
  #entity-container