.container
  h1 CEM Animation Documentation
  p Documentation for 
    a(href = "https://github.com/sp614x/optifine/blob/master/OptiFineDoc/doc/cem_animation.txt", target = "_blank") OptiFine's CEM Animations
  #cem-doc-tabs
  #cem-doc-container
    #cem-doc