#front
  include /assets/images/logo/wynem.svg
  h1 A bot that does (almost) everything
  p Wynem is a multipurpose discord bot that has a vast array of features for all sorts of purposes. From Moderation, to Fun, to Image Editing!
  .button-bar
    a.button(href = `https://invite.${self.domain}/`)
      span Invite
    #about-button.button.secondary
      span Learn more
.container
  #about
    h1 hello there