@import "buttons.styl"

.container
  max-width: var(--content-width)
  margin: 0 auto
  
#front
  display: flex
  justify-content: center
  align-items: center
  min-height: calc(100vh - var(--header-height))
  flex-direction: column
  text-align: center
  position: relative
  
  & > *
    padding: 0 20px

  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -1
    background-image: url("/assets/images/logo/wynem.svg")
    background-size: 64px
    filter: grayscale(1)
    opacity: 0.1
    background-repeat: space
    -webkit-mask-image: linear-gradient(to right, black, #0002 15%, transparent 30%, transparent 70%, #0002 85%, black)
  
  svg, h1, p
    filter: drop-shadow(0 10px 5px #0008)
  
  svg
    width: 300px
    height: 300px
    min-width: 300px
    min-height: 300px
    margin-bottom: -50px
  
  h1
    font-size: 3rem
    margin-bottom: 2px

  p
    max-width: 640px
    letter-spacing: 1px
    opacity: .5

  .button
    min-width: 128px
    border-radius: 7.5px

.button-bar
  display: flex
  gap: 10px
  margin: 20px 0
  
#about
  display: flex