@import "buttons.styl"

page-body
  background: linear-gradient(0deg, var(--color-grey-dark), var(--color-grey))

.container
  max-width: var(--content-width)
  margin: 0 auto
  padding: 20px 20px 80px
  display: flex
  flex-direction: column
  align-items: center
  
#front
  display: flex
  justify-content: center
  align-items: center
  min-height: calc(100vh - var(--header-height))
  flex-direction: column
  text-align: center
  position: relative
  
  & > *
    padding: 0 20px

  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -1
    background-image: url("/assets/images/logo/wynem.svg")
    background-size: 64px
    opacity: 0.1
    background-repeat: space
    -webkit-mask-image: linear-gradient(to right, black, #0002 15%, transparent 30%, transparent 70%, #0002 85%, black)
  
  svg, h1, p
    filter: drop-shadow(0 10px 5px #0008)
  
  svg
    width: @css{ min(300px, 60vw) }
    height: @css{ min(300px, 60vw) }
    margin-bottom: -30px
  
  h1
    font-size: 3rem
    margin-bottom: 2px
    white-space: pre
    
    span
      position: relative
      opacity: 0.5
      
      &::before
        content: "(almost)"
        position: absolute
        font-size: 1.25rem
        vertical-align: middle
        transform: translate(calc(-50% - 2px), -25px) rotateZ(-5deg)
      
      &::after
        content: "\29fc"
        position: absolute
        font-size: 2.5rem
        font-family: initial
        transform: translate(-50%, -15px) scaleX(1) rotateZ(-95deg)

  p
    max-width: 640px
    letter-spacing: 1px
    opacity: .5

  .button
    min-width: 128px
    border-radius: 7.5px

.button-bar
  display: flex
  gap: 20px
  margin: 20px 0

#about
  padding-top: calc(var(--header-height) + 20px)
  margin-top: calc(-20px - var(--header-height))

.content-box
  margin-bottom: 100px
  display: flex
  gap: 40px
  align-items: flex-start
  max-width: calc(100vw - 80px)

  > img
    width: 384px
    max-width: calc(100vw - 80px)

.content-box-text
  max-width: 512px
  text-shadow: 0 2px 1px #0008

  h1
    text-shadow: 0 5px 3px #0008
    padding-bottom: 20px
    
  p
    font-size: 1.25rem
    line-height: 1.75rem
    
  li
    margin-bottom: 10px
    
  .button
    margin-top: 20px

@media only screen and (max-width: 768px)
  #front
    h1
      transform: scale(0.9)
      
  .content-box
    flex-direction: column
    align-items: center
    position: relative
    gap: 20px
    margin: 80px 0 40px
    
    &:nth-child(5)
      margin-bottom: 100px
      
  .content-box-text
    display: flex
    flex-direction: column
    align-items: center
    order: 1
    
    p, h1
      text-align: center
      
    h1
      position: absolute
      top: 0
      transform: translateY(calc(-100% - 20px))
      
@media only screen and (max-width: 700px)
  #front h1
    transform: scale(0.8)
    
@media only screen and (max-width: 600px)
  #front h1
    transform: scale(0.7)
    
@media only screen and (max-width: 500px)
  #front h1
    transform: scale(0.6)
    
  .button-bar
    flex-direction: column
    
@media only screen and (max-width: 450px)
  #front h1
    transform: scale(0.5)