.page-container
  .img-block(style = 'background-image: url("/assets/images/home/wynem.webp")')
    .container
      h1 Wynem
  .container
    .text-block
      .text-box
        p Wynem is a multipurpose Discord bot that has a vast array of features for all sorts of purposes. From Moderation, to Fun, to Image Editing!
      .text-box
        p Wynem is a Discord bot that I have been working on by myself since late 2019. I had the idea for the bot when I didn't like the number of bots in my Discord server, so I set out to create my own Discord bot that would eventually replace all of the bots in my server with one single bot!
      .text-box
        p After a lot of requests, the bot was opened to the public and now anyone can add it to their server.
        p If you are interested in a fun Discord bot, which is also packaged with server management and moderation commands, I highly recommend adding Wynem to your server and checking it out!
        p You can find out more information about Wynem at <a href = "https://wynem.com/" target = "_blank">this link</a>!