style: include:styl index.styl
include /../includes/embeds.pug
#front
  include /assets/images/logo/wynem.svg
  h1 A bot that does 
   span
   |  everything
  p Wynem is a multipurpose Discord bot that has a vast array of features for all sorts of purposes. From Moderation, to Fun, to Image Editing!
  .button-bar
    a.button(onclick = "inviteBot(event)", href = `https://invite.${self.domain}/`, target = "_blank"): span Invite
    #about-button.button.secondary: span Learn more
.container
  #about
  .content-box
    .showcase#image
    .content-box-text
      h1 Advanced Image Commands
      p Wynem has advanced image commands that allow you to manipulate images in a variety of ways. You can resize images, add text, merge multiple images, and much more!
      p Images can be grabbed from a large variety of sources, such as previous messages, user avatars, user banners, YouTube thumbnails, Minecraft textures, and many others!
      a.button(href = "/commands/prefix/images", is = "f-a"): span View image commands
  .content-box
    .content-box-text
      h1 Useful Utilities
      p Wynem includes lots of useful utilities, such as:
      ul
        li Polls, which allow users to vote on a topic
        li Reminders, to remind you of things that you need to do
        li An Embed Builder, to create your own embeds with
        li A Colour Previewer, to view a colour, and get it in other formats
      a.button(href = "/commands/prefix/images", is = "f-a"): span View utilities
    .showcase#utility
  .content-box
    .showcase#moderation
    .content-box-text
      h1 Moderation Tools
      p You can find all your standard tools for moderating your server:
      ul
        li Muting (using Discord's timeout system)
        li Warning
        li Kicking
        li Banning
      p Notes can be added to users by any of the moderators, allowing you to remember things about users later on, especially if they change their username or avatar.
      p Wynem can purge messages from a channel, targeting all users, or just a specifc user.
      a.button(href = "/commands/prefix/moderation", is = "f-a"): span View moderation commands
  .content-box
    .content-box-text
      h1 Minecraft
      p Wynem contains lots of Minecraft related commands. These include the ability to view player skins and capes, a command to get any texture from the game, lots of tools to help create resource packs, a command to render Minecraft models in 3D, and more! 
      a.button(href = "/commands/prefix/minecraft", is = "f-a"): span View Minecraft commands
    .showcase#minecraft
  .button-bar
    a.button(onclick = "inviteBot(event)", href = `https://invite.${self.domain}/`, target = "_blank"): span Invite now!
    a.button.secondary(href = "/features", is = "f-a")
      span View more features