style: include:styl index.styl
.container
  h1 Wynem's Features
  p On this page you can view all of Wynem's main features, what they each do, and how you can use each one in your server!
  .features
    a.feature(href = "/features/buttonroles", is = "f-a")
      .title Button Roles
      .text A way for users to apply roles to themselves
    a.feature(href = "/features/customcommands", is = "f-a")
      .title Custom Commands
      .text Commands that you can configure to respond with whatever you want