template#arrow-left: include /assets/images/svg/arrow_left.svg
template#arrow-right: include /assets/images/svg/arrow_right.svg
.container
  #categories-container
    #categories
  #main
    #breadcrumbs
      a(href = "/commands", is = "f-a"): span Wynem
    #content