:host
  --sidebar-width: 192px

.container
  max-width: var(--content-width)
  margin: 0 auto
  flex: 1
  display: flex
  min-height: calc(100vh - var(--header-height) * 2)

page-body
  background-image: linear-gradient(to right, var(--color-grey-darker) 50%, var(--color-grey) 50%)

#categories-container
  width: var(--sidebar-width)
  position: fixed
  top: var(--header-height)
  bottom: 0
  overflow-y: auto
  z-index: 2

#categories
  display: flex
  flex-direction: column
  align-items: center
  gap: 10px
  padding-bottom: 10px
  margin-bottom: var(--header-height)

  a
    text-decoration: none
    color: var(--color-text-white)
    text-transform: capitalize
    width: calc(var(--sidebar-width) - 40px)
    height: 40px
    padding: 0 10px
    display: flex
    align-items: center
    transition: background-color .15s
    font-weight: 700
    text-shadow: var(--text-shadow)
    background-color: var(--color-grey-light)
    border-radius: 7.5px
    user-select: none
    cursor: pointer
    
    &:hover
      background-color: var(--color-blue)
      
    > *
      transition: transform .15s

    > span
      max-width: 100%
      text-overflow: ellipsis
      overflow: hidden

    &:active > *
      transform: translateY(2px)
      
    &#category-back
      height: 30px
      font-size: 0.9rem
      margin-top: 10px
      background-color: transparent
      text-transform: initial
      display: flex
      
      svg
        height: 20px
        width: 20px
        fill: white
        margin: 0 5px 0 -5px
        filter: drop-shadow(var(--text-shadow))
        
      span
        flex: 1
        text-align: center
      
      &:hover
        background-color: var(--color-grey-light)

      &:active > svg
        transform: translateY(3px)

.category-title
  text-align: center
  padding: 20px 0
  font-size: 1.5rem
  font-weight: 700
  text-shadow: var(--text-shadow)
  
  &.subcategory-title
    font-size: 1.2rem

#main
  margin-left: var(--sidebar-width)
  background-color: var(--color-grey)
  min-height: 100%
  flex: 1
  box-shadow: -5px 0 10px var(--color-box-shadow)
  position: relative
  z-index: 2

.commands-home
  display: flex
  flex-direction: column
  align-items: center
  flex: 1
  text-align: center
  
  p
    max-width: 512px

.category-info
  min-width: calc(100vw - var(--header-height) * 2)

  h2
    margin-top: 40px
    text-shadow: var(--text-shadow)
    
  img
    filter: drop-shadow(var(--box-shadow))
    max-width: 100%

#breadcrumbs-container
  position: fixed
  height: var(--header-height)
  background-color: var(--color-grey-dark)
  width: calc(min(100%, var(--content-width)) - var(--sidebar-width))
  display: flex
  justify-content: space-between
  box-shadow: var(--box-shadow)
  z-index: 1

#breadcrumbs::-webkit-scrollbar
  height: 4px

#breadcrumbs::-webkit-scrollbar-thumb
  height: 4px

#breadcrumbs
  display: flex
  align-items: center
  padding: 0 10px
  overflow-x: auto
  overflow-y: hidden
  max-width: calc(100% - 168px)
  direction: rtl;

  svg
    fill: var(--color-text-white)
    height: 20px
    width: 20px
    min-height: 20px
    min-width: 20px
    filter: drop-shadow(var(--text-shadow))
    
  a
    padding 0 10px
    height: var(--header-height)
    display: flex
    align-items: center
    color: var(--color-text-white)
    text-decoration: none
    font-weight: 700
    transition: background-color .15s
    text-shadow: var(--text-shadow)
    
    &:not(#command-breadcrumb)
      text-transform: capitalize
      
    &:hover
      background-color: var(--color-grey-light)
    
    > *
      transition: transform .15s

    &:active > *
      transform: translateY(3px)
  
.hidden
  display: none
  
#search
  display: flex
  align-items: center
  background-color: var(--color-grey-light)
  width: 168px
  position: relative
  padding-right: 10px
  
  svg
    width: 32px
    height: 32px
    padding: 0 4px
    fill: var(--color-text-white)
    
  input
    position: absolute
    left: 40px
    border: none
    outline: none
    background-color: transparent
    height: 40px
    width: 128px
    font-size: 1.2rem
    padding: 0
    z-index: 1
  
    &::placeholder
      color: var(--color-grey-light)
      filter: brightness(2)
      
#search-results
  position: absolute
  background-color: var(--color-grey-light)
  top: 100%
  right: 0
  min-width: @css{ min(100vw, 512px) }
  max-width: 100vw
  box-shadow: 0 0 25px var(--color-text-shadow)
  max-height: calc(min(100vh - var(--header-height) * 2, 512px))
  overflow-y: auto
  display: flex
  flex-direction: column
  z-index: -1

.search-result
  text-decoration: none
  padding: 10px
  transition: background-color .15s
  text-shadow: var(--text-shadow)
  
  &:hover
    background-color: var(--color-blue)

  *
    color: var(--color-text-white) !important

  > .name
    font-size: 1.5rem
    font-weight: 700
    text-decoration: none !important
    
    > span
      opacity: 0.5
      filter: brightness(1.5)
      font-size: 1.2rem
  
  > .path
    padding-top: 2px
    opacity: 0.75
    
    :first-child
      text-transform: capitalize

    > svg
      width: 14px !important
      height: 14px !important
      filter: drop-shadow(-2px 2px 1px black)
      transform: translateY(2px)

#content
  padding: calc(var(--header-height) + 20px) 20px 20px
  display: flex
  flex-direction: column
  gap: 20px

#category-name
  font-weight: 700
  font-size: 3rem
  text-transform: capitalize
  text-shadow: -4px 4px 1px var(--color-text-shadow)

#category-heading
  font-weight: 700
  font-size: 2rem
  text-shadow: -3px 3px 1px var(--color-text-shadow)

#category-description
  display: flex
  flex-direction: column
  gap: 20px
  font-family: var(--font-code)

.category-description
  white-space: pre-wrap
  padding: 20px
  background-color: var(--color-grey-dark)
  border-radius: 10px
  box-shadow: var(--box-shadow)

#commands
  display: flex
  flex-direction: column
  gap: 20px
  
  > a
    background-color: var(--color-grey-light)
    box-shadow: var(--box-shadow)
    padding: 20px
    color: var(--color-text-white)
    text-decoration: none
    transition: background-color .15s
    border-radius: 10px
    
    &:hover
      background-color: var(--color-blue)

.command-name
  font-size: 2rem
  font-weight: 700
  padding-bottom: 10px
  text-shadow: -3px 3px 1px var(--color-text-shadow)

#command-info
  display: inline-flex
  flex-direction: column
  align-items: flex-start
  width: 100%
  
  > ul
    margin: 0

#command-back
  height: 30px
  font-size: 0.9rem
  color: var(--color-text-white)
  text-decoration: none
  font-weight: 700
  display: flex
  align-items: center
  padding: 5px 10px
  background-color: var(--color-grey-light)
  box-shadow: var(--box-shadow)
  transition: background-color .15s
  text-shadow: var(--text-shadow)
  border-radius: 7.5px
  
  svg
    height: 20px
    width: 20px
    fill: white
    margin: 0 5px 0 -5px
    filter: drop-shadow(var(--text-shadow))
  
  > *
    transition: transform .15s

  &:hover
    background-color: var(--color-grey-lighter)

  &:active > *
    transform: translateY(3px)

.title
  font-size: 2.75rem
  font-weight: 700
  margin: 30px 0 30px 30px
  position: relative
  text-shadow: -5px 5px 1px var(--color-text-shadow)
  
  &::before
    content: ""
    background-color: var(--color-blue)
    position: absolute
    top: 0
    bottom: 0
    left: -30px
    width: 10px
    border-radius: 5px

.heading
  font-size: 1.5rem
  font-weight: 700
  margin: 20px 0 20px 15px
  position: relative
  text-shadow: -3px 3px 1px var(--color-text-shadow)
  
  &::before
    content: ""
    background-color: var(--color-grey-lighter)
    position: absolute
    top: 0
    bottom: 0
    left: -15px
    width: 5px
    border-radius: 5px
    
  + div
    margin-left: 20px

.description
  width: calc(100% - 30px)
  background-color: var(--color-grey-dark)
  padding: 11px 15px
  margin-bottom: 20px
  box-shadow: var(--box-shadow)
  white-space: pre-wrap
  border-radius: 7.5px
  font-family: var(--font-code)
  
.extra-container
  margin-bottom: 20px
  border-radius: 7.5px
  width: 100%
  box-shadow: var(--box-shadow)
  background-color: var(--color-grey-light)
  overflow: hidden
  font-family: var(--font)

  & > div:first-child
    padding: 5px 20px
    cursor: pointer
    user-select: none
    transition: background-color .15s
    fill: var(--color-text-white)
    font-weight: 700
    border-radius: 7.5px
    height: 30px
    
    &:hover
      background-color: var(--color-grey-lighter)
      
    & > div
      display: flex
      justify-content: space-between
      align-items: center
      transition: transform .15s
      filter: drop-shadow(var(--text-shadow))
      height: 100%
        
      & > svg
        width: 24px
        height: 24px
        transform: rotateZ(90deg)
        
        &.flip
          transform: rotateZ(-90deg)

    &:active > div
      transform: translateY(3px)

.extra
  max-height: 0
  transition: max-height .5s
  padding: 0 15px
  
  .embed-container
    margin: initial
  
  .reply-container, .pfp-container, .name-row
    display: none
    
  .embed
    background-color: initial
    box-shadow: initial
    border: none
    max-width: initial

.button-row
  display: flex
  gap: 10px
  margin-bottom: 20px
  
  a
    border-radius: 7.5px
    background-color: var(--color-grey-light)
    padding: 5px 20px
    height: 30px
    display: flex
    align-items: center
    color: var(--color-text-white)
    font-weight: 700
    text-decoration: none
    box-shadow: var(--box-shadow)
    text-shadow: var(--text-shadow)
    transition: background-color .15s
      
    &:hover
      background-color: var(--color-grey-lighter)

    & > *
      transition: transform .15s
      
    &:active > *
      transform: translateY(3px)

.formatting
  font-family: var(--font-code)
  background-color: var(--color-grey-dark)
  padding: 2px 4px

.option-name
  font-size: 1.1rem
  font-weight: 700
  margin-left: 20px
  
.option-description
  padding: 2px 0 10px 30px

.option-required
  opacity: 0.5
  font-size: 0.8rem

#mobile-switch-left, #mobile-switch-right
  display: none

.mobile-only
  display: none !important

@media only screen and (max-width: 768px)
  .desktop-only
    display: none !important

  .mobile-only
    display: inherit !important

  #mobile-switch-left
    left: 0
    background-color: var(--color-grey-darker)
  
  #mobile-switch-right
    right: 0
    background-color: var(--color-grey)

  #mobile-switch-left, #mobile-switch-right
    transition: transform .75s, opacity .75s, filter .15s
    display: flex
    justify-content: center
    position: fixed
    width: var(--header-height)
    top: calc(var(--header-height) * 3)
    height: calc(100vh - var(--header-height) * 3)
    z-index: 1
    padding-top: 10px
    cursor: pointer
    
    &:hover, &:active
      filter: brightness(1.5)

    svg
      width: 30px
      height: 30px
      fill: white
      filter: drop-shadow(var(--text-shadow))

  page-body
    background-color: var(--color-grey-darker)
    background-image: initial

  #categories-container
    margin-top: calc(var(--header-height) * 2)
    width: calc(100vw - var(--header-height))
    transition: margin-left .75s
    
    &.closed
      margin-left: calc(-100vw + var(--header-height) * 2)
      
    &:not(.closed)
      #mobile-switch-left
        transform: translateX(calc(0px - var(--header-height)))
        opacity: 0

  #categories
    margin-bottom: calc(var(--header-height) * 2)

    > a
      display: flex
      justify-content: center
      border-radius: 10px
      padding: 5px
      width: 256px
      max-width: calc(100% - 40px)
      text-align: center

  #main
    margin-top: calc(var(--header-height) * 2)
    width: calc(100vw - var(--header-height))
    margin-left: calc(100vw - var(--header-height))
    transition: margin-left .75s
    min-width: calc(100vw - var(--header-height))
    
    &.opened
      margin-left: var(--header-height)
      
      #mobile-switch-right
        transform: translateX(var(--header-height))
        opacity: 0
        
    &:not(.opened) #commands
      overflow-y: hidden
      max-height: calc(100vh - var(--header-height) * 5)
  
  #content
    padding: 20px

  #breadcrumbs-container
    position: fixed
    top: calc(var(--header-height) * 2)
    left: 0
    width: 100vw
    z-index: 2
  
  #breadcrumbs
    max-width: 100vw
      
  #search
    position: fixed
    top: var(--header-height)
    left: 0
    width: 100%
    height: var(--header-height)
    
  #search-results
    left: 20px
    right: 30px
    top: var(--header-height)
    max-height: calc(min(512px, 100vh - var(--header-height) * 3))
    z-index: 500
    min-width: initial
    overflow-x: hidden
    
  .title
    font-size: 1.5rem
    font-weight: 700
    margin: 30px 0 30px 15px
    text-shadow: -3px 3px 1px var(--color-text-shadow)
    
    &::before
      left: -15px
      width: 5px
      
  .command-name
    font-size: 1.5rem
    text-shadow: var(--text-shadow)
    
  #commands > a
    width: calc(100vw - var(--header-height) - 80px)
    
  #category-name
    font-size: 2rem