style: include:styl /../includes/stylus/embeds.styl
template#check-icon: include /assets/images/svg/check.svg
template#drop-icon: include /assets/images/svg/drop.svg
template#url-icon: include /assets/images/svg/url.svg