:root
  color-scheme: dark
  --color-blue-light: #8BA9FB
  --color-blue: #6C80F6
  --color-blue-dark: #4954C5
  --color-text-white: #FFF
  --color-box-shadow: #00000030
  --color-text-shadow: #00000080
  --color-svg-shadow: #000000c0
  --color-shadow: #00000080
  --color-grey-lighter: #353538
  --color-grey-light: #2B2B2E
  --color-grey: #1F1F21
  --color-grey-dark: #141414
  --color-grey-darker: #0F0F10
  --color-link-blue: #6C80F6
  --header-height: 40px
  --content-width: 1280px
  --box-shadow: 0 10px 10px var(--color-box-shadow)
  --text-shadow: -2px 2px 1px var(--color-text-shadow)
  
body
  margin: 0
  background-color: var(--color-grey)
  overflow: auto
  min-height: 100vh
  
*
  font-family: Arial
  color: var(--color-text-white)
  
.spacer
  flex: 1

.no-scroll
    overflow-y: hidden

// scrollbar

::-webkit-scrollbar
  width: 10px

::-webkit-scrollbar-thumb
  box-shadow: inset 0 0 10px 10px var(--color-blue)
  min-height: var(--header-height)

  &:hover
    box-shadow: inset 0 0 10px 10px var(--color-blue-light)

    &:active
      box-shadow: inset 0 0 10px 10px var(--color-blue)

body::-webkit-scrollbar
  border-top: var(--header-height) solid var(--color-blue)

body::-webkit-scrollbar-thumb
  border-top: var(--header-height) solid transparent
  min-height: calc(var(--header-height) * 2)
  
// header

#header-container
  background-color: var(--color-blue)
  width: 100%
  display: flex
  justify-content: center
  height: var(--header-height)
  position: sticky
  top: 0
  box-shadow: var(--box-shadow)
  z-index: 2
  overflow: hidden

#header
  width: var(--content-width)
  display: flex
  position: relative
  padding-right: calc(min(45px, 45px - (100vw - var(--content-width)) / 2))
  box-sizing: border-box
  
.page-button
  text-decoration: none
  display: flex
  align-items: center
  color: white
  font-weight: 700
  letter-spacing: 1px
  padding: 0 10px
  text-shadow: var(--text-shadow)
  transition: background-color .15s
  user-select: none
  min-height: var(--header-height)
  gap: 10px

  & > span
    transition: transform .15s

  & > svg
    fill: var(--color-text-white)
    filter: drop-shadow(var(--text-shadow))

  &:hover
    background-color: var(--color-blue-light)

  &:active > span
    transform: translateY(3px)

  &.selected
    background-color: var(--color-blue-dark)

  &.logo > span::before
    content: "Home"
    
.logo
  padding-left: 0

  img
    height: var(--header-height)

// sidebar

.hamburger-container
  cursor: pointer
  transition: background-color .15s
  width: 25px
  padding: 0 10px
  
  &.outside
    position: absolute
    top: 0
    right: 0

  &:hover
    background-color: var(--color-blue-light)

  &.active
    background-color: var(--color-blue-dark)

    .hamburger-line
      transition-delay: .12s
      transition-timing-function: cubic-bezier(.215, .61, .355, 1)
      transform: rotate(45deg)

      &:before
        top: 0
        transition: top 75ms ease, opacity 75ms ease .12s
        opacity: 0

      &:after
        bottom: 0
        transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s
        transform: rotate(-90deg)

.hamburger
  filter: drop-shadow(var(--text-shadow))
  display: flex
  align-items: center
  height: var(--header-height)

.hamburger-line
  position: relative
  display: block
  transition-timing-function: cubic-bezier(.55, .055, .675, .19)
  transition-duration: 75ms

  &, &:before, &:after
    content: ""
    width: 25px
    height: 4px
    border-radius: 4px
    background-color: #fff

  &:before
    position: absolute
    top: -8px
    transition: top 75ms ease .12s, opacity 75ms ease

  &:after
    position: absolute
    bottom: -8px
    transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19)

#sidebar
  right: 0
  position: fixed
  z-index: 1
  top: var(--header-height)
  bottom: 0
  background-color: var(--color-grey-dark)
  box-shadow: initial
  transition: transform .5s ease, box-shadow .5s ease
  padding: 20px 0 10px
  transform: translateX(100%)
  display: flex;
  flex-direction: column;
  overflow-y: auto
  
  &.active
    transform: translateX(0)
    box-shadow: 0 0 100px black
    
  .page-button
    &:hover
      background-color: var(--color-grey-light)

    &.selected
      background-color: var(--color-grey)
      
  .line
    background-color: var(--color-text-white)
    width: calc(100% - 20px)
    min-height: 2px
    margin: 10px 10px
    opacity: 0.5

.sidebar-link-icons
  padding: 0 10px
  display: flex
  justify-content: space-around
  
  path
    fill: var(--color-text-white)
    
  a
    display: flex
    align-items: center

// page

#content
  min-height: calc(100vh - var(--header-height) * 2)
  
.page
  position: relative
  display: block
  width: 100%

  &:not(.loading)
    opacity: 0
    animation: fadeIn 1 250ms forwards

  &.loading
    visibility: hidden
    pointer-events: none
    animation: none
    opacity: 0
    
// footer

#footer-container
  position: relative
  background-color: var(--color-blue)
  width: 100%
  display: flex
  justify-content: center
  height: var(--header-height)
  box-shadow: 0 -10px 10px var(--color-box-shadow)
  overflow: hidden

#footer
  width: var(--content-width)
  display: flex
    
// animations

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1
    
// mobile

@media only screen and (max-width: 768px)
  .page-button.logo 
    background-color: transparent

    > span::before
      content: "Wynem"
  
  #header > .page-button:not(.logo)
    display: none

  .popup-image-close
    right: 0
    opacity: 1