style: include:styl index.styl
.container
  h1.title Privacy Policy
  p By using the Discord bot Wynem, you agree that you have read and agree to this policy.
  p This is our Privacy Policy, which will describe the types of data collected, how it is used, how to opt out of data collection, and how to remove your data.
  p The terms "we", "us", and "our" refer to the owner and moderators of Wynem. The terms "bot" and "Wynem" refer to the Discord bot itself. The terms "you" and "your" refer to you, the user.
  p We may update this Privacy Policy at any time. Any changes that are made will be made effective immediately. Please make sure you are kept up to date with this Privacy Policy.
  br
  h1 PRIVACY STATEMENT
  p We respect the privacy of your information. This policy describes the types of information that we may collect from you or that you may provide when you use Wynem, as well as describing our practices for collecting, using, maintaining, protecting and disclosing that information.
  h3 This policy applies to any data collected through these sources:
  ul
    li Data provided directly by users
    li Direct messages
    li Servers the bot is added to
    li Any commands ran
  br
  h1 THE INFORMATION WE COLLECT AND HOW WE COLLECT IT
  h3 Personally Identifiable Information:
  p Wynem collects and stores Minecraft usernames that you link to your Discord account to allow Minecraft account-related commands to use your Discord name instead of requiring your Minecraft username each time. This link also allows others to check the Minecraft username associated with your Discord account. This information is provided voluntarily, can be removed by you at any time, and is stored locally on the bot server. This will only be personally identifiable if the username is personally identifiable.
  h3 Servers:
  p Whenever Wynem joins and leaves a server, a log is stored within a private Discord channel which lists the details of the server, such as name, member count, date created, and number of channels. This data is only stored within Discord and is never stored locally.
  p Whenever Wynem is installed or uninstalled as a user app, a log is stored noting the user installation. This data is only stored within Discord and is never stored locally.
  p Server logs may be enabled in any server that Wynem is in. Server logs log your activity in a server. The data logged includes edited message content, deleted message content, nicknames, voice channels joined, and any moderation taken against you. This data is only stored in the server where the specific activity occurred and is accessible only to those with appropriate permissions in the server.
  p When a member is muted or warned, a moderation log is saved in a local database on the bot server. Only the 10 newest warn logs and 10 newest mute logs are stored. The total count is still tracked however.
  h3 Direct Messages:
  p When you send a direct message to Wynem, this message is sent to a private Discord channel. This logs the full message content, including attachments, except for stickers and emojis that Wynem does not have access to. This data is only stored within Discord and is never stored locally.
  h3 Commands:
  p Any command executed through Wynem is sent to a private Discord channel. This logs the full message content, including attachments. This data is only stored within Discord and is never stored locally.
  p A record of how many times you have executed each command is stored in a local database on the bot server.
  br
  h1 HOW WE USE INFORMATION
  h3 Bot Installations:
  p Bot installation and removal information is logged to keep track of the types of servers and user accounts where Wynem is being used, as well as the frequency with which Wynem is added or removed from servers or individual user accounts.
  h3 Direct Messages:
  p Direct messages are logged so that it is possible to provide support through direct messages.
  h3 Commands:
  p Commands are logged to help track error messages and bot abuse. When an error occurs, the command logs can be used to see the activity that occurred around the error.
  p Command usage statistics are recorded and stored so that users can see how much they use Wynem and which commands are their personal most popular. Only you can view your own command usage statistics.
  br
  h1 OPTING OUT
  p How to opt out of having this data collected:
  h3 Server owners/admins:
  p To opt out of having any commands logged from your server, remove Wynem from your server.
  h3 Server members:
  p To opt out of having your commands logged from a server using Wynem, leave the server.
  h3 Users:
  p To opt out of having direct messages logged, do not direct message the bot.
  p To opt out of logging for commands or activities conducted through a User App, uninstall Wynem from your account.
  br
  h1 REMOVAL OF DATA
  p Some commands exist for you to remove your own data, such as removing Minecraft usernames. These commands can be used to remove that data.
  h3 Attachments:
  p Any attachments logged are only ever logged using the original Discord URL. By deleting the message containing the attachment, you are deleting the content from Discord's servers, therefore the attachment URL will no longer be valid.
  h3 Commands and Direct Messages:
  p To remove any command and direct messages that have been logged, please contact me through the contacts listed at the bottom of this policy, with the Message and User ID of the log you would like removed.
  h3 Server Logs and Moderation Records:
  p We do not own any of the data logged about you through server logs and moderation records. This data is owned by the Server owners/admins. You will have to contact them to have your data removed.
  br
  h1 CHILDREN'S PRIVACY
  p Discord does not provide services to children under the age of 13, so this extends to the usage of Wynem. If you are a parent or guardian and you are aware that your child has provided us with personal data, please contact us so that we can remove it.
  br
  h1 THIRD-PARTY WEBSITES
  p Wynem may contain links to third-party websites or services. These websites are operated independently of Wynem and have their own privacy policies and terms of service. We encourage you to review the privacy practices of any third-party website or service before sharing your personal information with them.
  p Wynem does not share your information with any third-party websites or services. Any data collected through these third-party websites is separate from Wynem and is not governed by this Privacy Policy. We are not responsible for the privacy practices, content, or data handling of these websites. If you interact with these third-party sites or services through links provided by Wynem, please be aware that any data you choose to share is subject to their policies, not ours.
  br
  h1 CONTACT INFORMATION
  h3 If you have any questions about this Privacy Policy, you can contact me:
  ul
    li On Discord: 
      a(href = `https://discord.${self.domain}/`, target = "_blank") Ewan's Server
    li By email: 
      a(href = "mailto:contact@wynem.com", target = "_blank") contact@wynem.com